body {
	background-image: url("https://ununsplash.imgix.net/photo-1420708392410-3c593b80d416?fit=crop&fm=jpg&h=725&q=75&w=1050");
	background-size: cover;
}
#box{
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	color: gray;
	font-family: 'Oswald', sans-serif;
}
p:hover {
	color: black;
	font-family: 'Codystar', cursive;
}
#box2 {
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	color: gray;
	font-family: 'Oswald', sans-serif;
}
#liberty {
	background-image: url("https://unsplash.imgix.net/photo-1414912925664-0c502cc25dde?fit=crop&fm=jpg&h=700&q=75&w=1050");
	background-size: cover;
}
#lie {
	background-image: url("https://unsplash.imgix.net/photo-1428342319217-5fdaf6d7898e?fit=crop&fm=jpg&h=500&q=75&w=1050");
	background-size: cover;
}
#reg{
text-align: center;
font-size: 50px;
opacity: .5;
font-family: 'Oswald', sans-serif;
} 
h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
  font-size: 70px;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTgCpLhW6iN9mFDbPTigp7kMDtkksNYO8ChI3P5e8BvJ7FyKbVJ");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:20s ease all;
}
h1:hover {
  background-position:top;
}
#user {
	text-align: center;
	font-size: 50px;
	opacity: .6;
	font-family: 'Oswald', sans-serif;
} 
#pass {
	text-align: center;
	font-size: 50px;
	opacity: .6;
	font-family: 'Oswald', sans-serif;
}
#sub {
	text-align: center;
	opacity: .5;
	font-family: 'Oswald', sans-serif;
}
#log {
	text-align: center;
	font-size: 70px;
	opacity: .5;
	font-family: 'Oswald', sans-serif;
	padding: 25px;
}
#us {
	text-align: center;
	font-size: 50px;
	opacity: .5;
	font-family: 'Oswald', sans-serif;
} 
#pa {
	text-align: center;
	font-size: 50px;
	opacity: .5;
	font-family: 'Oswald', sans-serif;
}
input#login{
font-family: 'Oswald', sans-serif;
cursor:pointer;
padding:5px 25px;
background:black;
border:1px solid brown; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:white;
font-size:20px;
}

input#login:hover, input#login:focus{
background-color :brown;
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
input#u{
font-family: 'Oswald', sans-serif;
padding:5px 25px;
background:black;
border:1px solid brown; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color: yellow;
font-size:20px;
}
input#p{
margin: 20px;
font-family: 'Oswald', sans-serif;
padding:5px 25px;
background:black;
border:1px solid brown; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color: yellow;
font-size:20px;
}
input#register{
font-family: 'Oswald', sans-serif;
cursor:pointer;
padding:5px 25px;
background:black;
border:1px solid brown; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:white;
font-size:20px;
}

input#register:hover, input#register:focus{
background-color :brown;
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
input#u2{
font-family: 'Oswald', sans-serif;
padding:5px 25px;
background:black;
border:1px solid red; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, 1);
-moz-box-shadow: 0 0 4px rgba(0,0,0, 1);
box-shadow: 0 0 4px rgba(0,0,0, 1);
color: white;
font-size:20px;
}
input#p2{
margin: 20px;
font-family: 'Oswald', sans-serif;
padding:5px 25px;
background:black;
border:1px solid red; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color: white;
font-size:20px;
}